*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
data

# YARD artifacts
.yardoc
_yardoc
doc/
lib/rindlets/stock_source_rindlet.rb
script/start_stock_rindlets